@model IEnumerable<Database.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @if (item.Image != null && item.Image.Length > 0)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                        <img src="@imageSrc" alt="Image" style="max-width:200px; max-height:200px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id=item.Id.ToString() })
            </td>
        </tr>
}
    </tbody>
</table>
